/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
	-moz-tab-size: 4;
	tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, 
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
Add the correct height in Firefox.
*/

hr {
	height: 0;
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

:root {
    --colour-maroon: #850322;
    --colour-white: #fff;
    --colour-black: #111;
    --colour-grey: #aaa;
/*
    --colour-silver: #ddd;
    --colour-dark: #212121;
    --colour-navy: #001F3F;
    --colour-blue: #007aff;
    --colour-indigo: #5856d6;
    --colour-pink: #ff2d55;
    --colour-aqua: #7FDBFF;
    --colour-teal: #5ac8fa;
    --colour-olive: #3D9970;
    --colour-green: #34c759;
    --colour-lime: #01FF70;
    --colour-yellow: #ffcc00;
    --colour-orange: #ff9500;
    --colour-red: #ff3b30;
    --colour-fuchsia: #F012BE;
    --colour-purple: #af52de;
 */
    --colour-initial: var(--colour-white);
    --colour-primary: var(--colour-black);
    --colour-secondary: var(--colour-grey);
    --colour-accent: var(--colour-maroon);

    --spacing-s: 2rem;
    --spacing-m: calc(2rem * 2);
    --spacing-l: calc(2rem * 3);
    --spacing-xl: calc(2rem * 4);

    --radius: 0.3rem;

    --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        --font-sans: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
            'Droid Sans', 'Helvetica Neue', sans-serif;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: red;
    text-rendering: optimizeSpeed;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-size: 1rem;
    line-height: 2rem;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    font-family: var(--font-sans);
    color: #111;
    color: var(--colour-primary);
    font-weight: 400;
    letter-spacing: -0.03125rem;
}

h1 {
    font-size: 2.8125rem;
    line-height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    letter-spacing: -0.1875rem;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    letter-spacing: -0.125rem;
}

h3 {
    font-size: 1.4375rem;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 0;
    letter-spacing: -0.0625rem;
}

h4,
h5,
h6 {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 0;
    letter-spacing: 0;
}

p,
ul,
ol,
table,
blockquote {
    margin-top: 0;
    margin-bottom: 2rem;
}

td,
th {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    font-family: var(--font-sans);
    font-weight: 700;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    margin: -1px 0;
    border-top: 1px solid #111;
    border-top: 1px solid var(--colour-primary);
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5rem;
}

sub {
    bottom: -0.25rem;
}

a,
em,
b,
strong {
    font-weight: 700;
}

legend {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    letter-spacing: -0.125rem;
    font-weight: 700;
}

fieldset p,
    fieldset label {
        display: inline-block;
        vertical-align: top;
        letter-spacing: -0.0625rem;
        font-size: 1rem;
        line-height: 2rem;
    }

fieldset li input {
            margin: 0;
        }

fieldset label {
        font-weight: 700;
    }

fieldset label + input,
    fieldset label + select,
    fieldset label + textarea {
        margin-top: calc(2 / 4 * 1rem);
        margin-bottom: calc(2 / 4 * 1rem);
    }

:global .h1 {
        font-size: 2.8125rem;
        line-height: 4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        letter-spacing: -0.1875rem;
    }

:global .h2 {
        font-size: 2rem;
        line-height: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        letter-spacing: -0.125rem;
    }

:global .h3 {
        font-size: 1.4375rem;
        line-height: 2rem;
        margin-top: 2rem;
        margin-bottom: 0;
        letter-spacing: -0.0625rem;
    }

:global .h4,
    :global .h5,
    :global .h6 {
        font-size: 1rem;
        line-height: 2rem;
        margin-top: 2rem;
        margin-bottom: 0;
        letter-spacing: 0;
    }

a {
    color: #111;
    color: var(--colour-primary)
}

a:focus,
    a:hover {
        text-decoration: none;
        color: var(--colour-tertiary);
    }

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='datetime-local'],
input:not([type]),
textarea,
select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 1px solid #aaa;
    border: 1px solid var(--colour-secondary);
    border-radius: 0.3rem;
    border-radius: var(--radius);
    box-shadow: none;
    box-sizing: inherit;
    height: 3rem;
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1rem
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, input[type='color']:focus, input[type='date']:focus, input[type='month']:focus, input[type='week']:focus, input[type='datetime']:focus, input[type='datetime-local']:focus, input:not([type]):focus, textarea:focus, select:focus {
        border-color: #850322;
        border-color: var(--colour-accent);
        outline: 0;
    }

select {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat
}

select:focus {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%212121" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
    }

textarea {
    height: 9rem;
    resize: vertical;
    vertical-align: top;
}

legend {
    display: block;
}

fieldset {
    border-width: 0;
    padding: 0;
}

label {
    margin-top: 0;
    margin-bottom: 0;
}

input[type='checkbox'],
input[type='radio'] {
    display: inline;
    margin-right: 0.5rem;
}

form ul {
        list-style: none;
    }

ol {
    list-style: decimal inside;
}

ul {
    list-style: circle inside;
}

dl,
ol,
ul {
    margin: 0;
    padding: 0;
}

dl dl,
    dl ol,
    dl ul,
    ol dl,
    ol ol,
    ol ul,
    ul dl,
    ul ol,
    ul ul {
        /* font-size: 90%; */
    }

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

figcaption {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 700;
    height: 3rem;
    padding: 0 3rem;
    margin-top: calc(2 / 4 * 1rem);
    margin-bottom: calc(2 / 4 * 1rem);
    border: 0.1rem solid #111;
    border: 0.1rem solid var(--colour-primary);
    border-radius: 0.3rem;
    border-radius: var(--radius);
    background-color: #111;
    background-color: var(--colour-primary);
    color: #fff;
    color: var(--colour-initial);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.button .button,
.button button,
.button input[type='button'],
.button input[type='reset'],
.button input[type='submit'],
button .button,
button button,
button input[type='button'],
button input[type='reset'],
button input[type='submit'],
input[type='button'] .button,
input[type='button'] button,
input[type='button'] input[type='button'],
input[type='button'] input[type='reset'],
input[type='button'] input[type='submit'],
input[type='reset'] .button,
input[type='reset'] button,
input[type='reset'] input[type='button'],
input[type='reset'] input[type='reset'],
input[type='reset'] input[type='submit'],
input[type='submit'] .button,
input[type='submit'] button,
input[type='submit'] input[type='button'],
input[type='submit'] input[type='reset'],
input[type='submit'] input[type='submit'] {
}

.button:focus,
    .button:hover,
    button:focus,
    button:hover,
    input[type='button']:focus,
    input[type='button']:hover,
    input[type='reset']:focus,
    input[type='reset']:hover,
    input[type='submit']:focus,
    input[type='submit']:hover {
        background-color: #aaa;
        background-color: var(--colour-secondary);
        border-color: #aaa;
        border-color: var(--colour-secondary);
        color: #fff;
        color: var(--colour-initial);
        outline: 0;
    }

.button[disabled], button[disabled], input[type='button'][disabled], input[type='reset'][disabled], input[type='submit'][disabled] {
        cursor: default;
        opacity: 0.5
    }

.button[disabled]:focus,
        .button[disabled]:hover,
        button[disabled]:focus,
        button[disabled]:hover,
        input[type='button'][disabled]:focus,
        input[type='button'][disabled]:hover,
        input[type='reset'][disabled]:focus,
        input[type='reset'][disabled]:hover,
        input[type='submit'][disabled]:focus,
        input[type='submit'][disabled]:hover {
            background-color: #111;
            background-color: var(--colour-primary);
            border-color: #111;
            border-color: var(--colour-primary);
        }

.button.button-outline, button.button-outline, input[type='button'].button-outline, input[type='reset'].button-outline, input[type='submit'].button-outline {
        background-color: transparent;
        color: #111;
        color: var(--colour-primary)
    }

.button.button-outline:focus,
        .button.button-outline:hover,
        button.button-outline:focus,
        button.button-outline:hover,
        input[type='button'].button-outline:focus,
        input[type='button'].button-outline:hover,
        input[type='reset'].button-outline:focus,
        input[type='reset'].button-outline:hover,
        input[type='submit'].button-outline:focus,
        input[type='submit'].button-outline:hover {
            background-color: transparent;
            border-color: #aaa;
            border-color: var(--colour-secondary);
            color: #aaa;
            color: var(--colour-secondary);
        }

.button.button-outline[disabled]:focus,
            .button.button-outline[disabled]:hover,
            button.button-outline[disabled]:focus,
            button.button-outline[disabled]:hover,
            input[type='button'].button-outline[disabled]:focus,
            input[type='button'].button-outline[disabled]:hover,
            input[type='reset'].button-outline[disabled]:focus,
            input[type='reset'].button-outline[disabled]:hover,
            input[type='submit'].button-outline[disabled]:focus,
            input[type='submit'].button-outline[disabled]:hover {
                border-color: inherit;
                color: #111;
                color: var(--colour-primary);
            }

.button.button-clear, button.button-clear, input[type='button'].button-clear, input[type='reset'].button-clear, input[type='submit'].button-clear {
        background-color: transparent;
        border-color: transparent;
        color: #111;
        color: var(--colour-primary)
    }

.button.button-clear:focus,
        .button.button-clear:hover,
        button.button-clear:focus,
        button.button-clear:hover,
        input[type='button'].button-clear:focus,
        input[type='button'].button-clear:hover,
        input[type='reset'].button-clear:focus,
        input[type='reset'].button-clear:hover,
        input[type='submit'].button-clear:focus,
        input[type='submit'].button-clear:hover {
            background-color: transparent;
            border-color: transparent;
            color: #aaa;
            color: var(--colour-secondary);
        }

.button.button-clear[disabled]:focus,
            .button.button-clear[disabled]:hover,
            button.button-clear[disabled]:focus,
            button.button-clear[disabled]:hover,
            input[type='button'].button-clear[disabled]:focus,
            input[type='button'].button-clear[disabled]:hover,
            input[type='reset'].button-clear[disabled]:focus,
            input[type='reset'].button-clear[disabled]:hover,
            input[type='submit'].button-clear[disabled]:focus,
            input[type='submit'].button-clear[disabled]:hover {
                color: #111;
                color: var(--colour-primary);
            }

blockquote {
    padding: 2rem;
    border-left: 0.3rem solid var(--colour-tertiary);
    margin-left: 0;
    margin-right: 0;
}

blockquote p {
        font-style: italic;
    }

blockquote *:last-child {
        margin-bottom: 0;
    }

code,
kbd,
samp,
pre {
    font-size: calc(1rem * 0.8);
    line-height: calc(2rem * 0.8);
}

kbd {
    padding: 0;
}

samp {
    display: block;
    padding: 2rem;
}

code {
    background-color: #111;
    background-color: var(--colour-primary);
    color: #fff;
    color: var(--colour-initial);
    margin: 0;
    position: relative;
    top: -1px;
    white-space: nowrap;
    border-radius: 0.3rem;
    border-radius: var(--radius);
}

:not(pre) code {
    padding: 0.4rem;
}

pre {
    margin-bottom: 2rem;
    background-color: #111;
    background-color: var(--colour-primary);
    color: #fff;
    color: var(--colour-initial);
    border-radius: 0.3rem;
    border-radius: var(--radius);
    overflow-y: hidden;
}

pre code {
        padding: 2rem;
        margin-top: 0;
        display: block;
        white-space: pre;
        color: white;
    }

table {
    border-spacing: 0;
    width: 100%;
}

td,
th {
    padding: 0;
    text-align: left
}

td:first-child, th:first-child {
        padding-left: 0;
    }

td:last-child, th:last-child {
        padding-right: 0;
    }

tfoot {
    font-weight: 700;
}

/* vertical rhythm */

.vr {
    background-size: 100% calc(2 * 1rem);
    background-image: linear-gradient(rgba(36, 164, 226, 0.3) 1px, transparent 1px);
}

.vr * {
        position: relative
    }

.vr *::after {
            content: '';
            background-color: rgba(36, 164, 226, 0.1);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
