*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
}

img {
    max-width: 100%;
    display: block;
}
