.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background-color: var(--colour-primary);
    border: 0.1rem solid var(--colour-primary);
    border-radius: 0.4rem;
    color: var(--colour-initial);
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: 0.1rem;
    line-height: 3.8rem;
    padding: 0 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    &:focus,
    &:hover {
        background-color: var(--colour-secondary);
        border-color: var(--colour-secondary);
        color: var(--colour-initial);
        outline: 0;
    }

    &[disabled] {
        cursor: default;
        opacity: 0.5;

        &:focus,
        &:hover {
            background-color: var(--colour-primary);
            border-color: var(--colour-primary);
        }
    }

    &.button-outline {
        background-color: transparent;
        color: var(--colour-primary);

        &:focus,
        &:hover {
            background-color: transparent;
            border-color: var(--colour-secondary);
            color: var(--colour-secondary);
        }

        &[disabled] {
            &:focus,
            &:hover {
                border-color: inherit;
                color: var(--colour-primary);
            }
        }
    }

    &.button-clear {
        background-color: transparent;
        border-color: transparent;
        color: var(--colour-primary);

        &:focus,
        &:hover {
            background-color: transparent;
            border-color: transparent;
            color: var(--colour-secondary);
        }

        &[disabled] {
            &:focus,
            &:hover {
                color: var(--colour-primary);
            }
        }
    }
}
